{% extends get_template('./base', _self) %}

{% block body %}
    {% set slides = get_cover_option('home_top_slider', {}) %}
    {% if slides %}
        <section class="home-slider mb-8 carousel-container">
            {% embed get_cover_template('common/carousel/swiper/carousel') with {
                carousels: slides,
                arrow_class: 'position-absolute',
                arrows_class: 'centered-absolute w-100 show-element d-none d-md-block',
                carousel_attrs: {
                    class: 'full-width'
                },
                container_class: 'frontend-carousel overflow-hidden',
                carousel_config: {
                    loop: true,
                    speed: 1500,
                    autoplay: {
                        delay: 8000
                    },
                    pagination: false,
                }
            } %}
                {% block carousel %}
                    {% embed get_cover_template('common/background_media') with {
                        attachment: carousel.image,
                        container_class: 'carousel-item-wrapper position-relative',
                    } %}
                        {% block body %}
                            <div class="carousel-item-content position-absolute bottom-0 w-100 bg-overlay dark-50">
                                <div class="container py-5">
                                    <div class="row">
                                        <div class="col-12 col-lg-9">
                                            <div class="font-weight-bold heading-ff mb-6 text-white text-center text-lg-left slide-title">{{ carousel.text|raw }}</div>
                                            {% if carousel.subtext|raw %}
                                                <p class="mb-5 fs-lg lh-md text-white d-none d-lg-block">{{ carousel.subtext|raw }}</p>
                                            {% endif %}
                                        </div>
                                        {% if carousel.action_text %}
                                            <div class="col-12 col-lg-3 my-auto">
                                                <div class="d-flex justify-content-center justify-content-lg-end">
                                                    {% include get_cover_template('common/call_to_action') with {
                                                        text: carousel.action_text,
                                                        permalink: carousel.action_permalink,
                                                    } %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        </section>
    {% endif %}

    {% set categories = get_cover_option('home_slider_cats', {}) %}
    {% if categories %}
        <section class="product-categories position-relative py-8 carousel-container">
            <div class="container">
                <div class="section-title mb-8 d-flex justify-content-between position-relative">
                    <h2 class="h3">{{ get_cover_option('home_slider_cats_title', '')|raw }}</h2>
                    {% include get_cover_template('common/carousel/swiper/arrows') with {
                        icon: 'arrow',
                        class: 'd-flex',
                        btn_class: 'mr-3'
                    } %}
                </div>
                {% embed get_cover_template('common/carousel/swiper/six_column') with {
                    carousels: categories,
                    container_class: 'overflow-hidden'
                } %}
                    {% block carousel %}
                        <div {{ add_animation({class: 'px-3 position-relative', delay: loop.index * 0.1}) }}>
                            {% embed get_cover_template('common/background_media') with {
                                attachment: carousel.image,
                                bg_image_size: 'thumbnail',
                                container_class: 'rounded-xl category-bg overflow-hidden border border-white border-hover-light-primary'
                            } %}
                                {% block body %}
                                    <a href="{{ carousel.permalink }}" class="d-block h-100 text-center">
                                        <div class="bg-overlay dark-50 centered-overlay h-100">
                                        </div>
                                        <h3 class="h4 text-white centered-absolute m-0 max-line max-line-2">
                                            {{ carousel.title|raw }}
                                        </h3>
                                    </a>
                                {% endblock %}
                            {% endembed %}
                        </div>
                    {% endblock %}
                    {% block carousel_arrow %}{% endblock %}
                {% endembed %}
            </div>
        </section>
    {% endif %}

    {% set catalog = get_cover_option('catalog', {}) %}
    {% if catalog %}
        <section class="catalog py-8">
            <div class="container">
                <div {{ add_animation({class: 'position-relative'}) }}>
                    {% embed get_cover_template('common/background_media') with {
                        attachment: catalog.background,
                        container_class: 'card rounded-20x border-0 overflow-hidden'
                    } %}
                        {% block body %}
                            <div class="card-body p-8 p-md-20">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        {% include get_cover_template('common/block_media') with {
                                            image_size: 'medium',
                                            image_attrs: {class: 'mx-auto mx-lg-auto mb-7 mb-lg-0 d-block'},
                                            video_attrs: {class: 'img-fluid pr-0 pr-lg-6'},
                                            attachment: catalog.image,
                                        } %}
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        {{ render_if_has_content('div', {class: 'mb-5 font-weight-bold heading-ff h2 fs-sm-20x'}, catalog.title) }}
                                        {{ render_if_has_content('div', {class: 'mb-10'}, wpautop(catalog.subtext)) }}

                                        <div class="d-flex flex-column flex-md-row">

                                            {% for button in catalog.buttons %}
                                                {% include get_cover_template('common/call_to_action') with {
                                                    icon_left: 1,
                                                    media_hover: 0,
                                                    icon: button.icon,
                                                    text: button.text,
                                                    attrs: button.attrs,
                                                    permalink: button.permalink,
                                                } %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </section>
    {% endif %}

    {% set products = get_cover_option('home_products', {}) %}
    {% if products %}
        <section class="products pt-8 carousel-container">
            <div class="container">
                <div class="section-title mb-8 d-flex justify-content-between position-relative">
                    <h2 class="h3">{{ products.title|raw }}</h2>
                    {% include get_cover_template('common/carousel/swiper/arrows') with {
                        icon: 'arrow',
                        class: 'd-flex',
                        btn_class: 'mr-3'
                    } %}
                </div>
                {% embed get_cover_template('common/carousel/swiper/four_column') with {
                    carousels: products.items,
                    container_class: 'overflow-hidden',
                    carousel_attrs: {
                        class: 'same-height same-width'
                    }
                } %}
                    {% block carousel %}
                        <div {{ add_animation({class: 'position-relative', delay: 0.2, effect: 'fadeIn'}) }}>
                            {% include get_cover_template("common/article/product") with {
                                product: carousel
                            } %}
                        </div>
                    {% endblock %}
                    {% block carousel_arrow %}{% endblock %}
                {% endembed %}
            </div>
        </section>
    {% endif %}

    {% include get_cover_template('common/featured') with {
        featured: get_cover_option('featured_product', {}),
        image_order: 3
    } %}

    {% set about = get_cover_option('about', {}) %}
    {% if about %}
        <section class="about py-8">
            <div class="container">
                <div {{ add_animation({class: 'row justify-content-center'}) }}>
                    <div class="order-1 col-12 col-lg-6 col-xl-5 mb-6 mb-lg-0 d-flex justify-content-center flex-column">
                        <h2 class="mb-4 text-center">{{ about.title|raw }}</h2>
                        <div class="text-center fs-lg">{{ wpautop(about.text)|raw }}</div>
                        <div class="text-center mt-7">
                            {% include get_cover_template('common/call_to_action') with {
                                text: about.button,
                                permalink: about.permalink
                            } %}
                        </div>
                    </div>
                    <div class="order-0 col-12 col-lg-6 col-xl-5 mb-6 mb-lg-0">
                        {% include get_cover_template('common/block_media') with {
                            image_size: 'medium_large',
                            video_attrs: {class: 'img-fluid pr-0 pr-lg-6'},
                            attachment: about.image,
                        } %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}


    {% include get_cover_template('common/featured') with {
        featured: get_cover_option('featured_category', {}),
        image_order: 3
    } %}

    {% set comments = get_cover_option('home_comments', {}) %}
    {% if comments %}
        <section class="comments py-8 carousel-container">
            <div class="container">
                <div {{ add_animation({class: 'row justify-content-center'}) }}>
                    <div class="col-12 col-lg-10 col-xl-8">
                        <h2 class="h3 text-center">{{ comments.title|raw }}</h2>
                        {% embed get_cover_template('common/carousel/swiper/single_column') with {
                            carousels: comments.items,
                            arrow_class: 'position-absolute',
                            arrows_class: 'centered-absolute w-100 d-none d-lg-block',
                            carousel_attrs: {
                                class: 'my-5'
                            }
                        } %}
                            {% block carousel %}
                                <div class="text-center py-5">
                                    <div class="px-0 px-lg-20">
                                        <p class="text-normal fs-lg mb-5">{{ wpautop(carousel.text)|raw }}</p>
                                        <div class="text-primary h4">- {{ carousel.user|raw }} -</div>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endembed %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

