<span>© {{ "now"|date('Y')|datetime('Y') }},</span>
<strong class="text-primary">{{ bloginfo('name')|raw }}</strong>
{% set copyright = get_cover_option('footer_copyright_text') %}
{% if copyright %}
    - {{ copyright|raw }}
{% endif %}
{{ separator|raw }}
<span> {{ __('All rights reserved', domain)|raw }}</span>

