<a href="{{ home_url()|esc_attr }}">
    {{ pmpr_do_action('render_site_logo', {
        key: logo_key,
        type: logo_type,
        attrs: {class: 'mn-w100px'},
        size: logo_size|default([width|default('133'), height|default('78')])
    }) }}

{#    <img src="{{ customizer_option(option_key)|esc_attr }}"#}
{#         width="{{ width|default('133') }}" height="{{ height|default('78') }}"#}
{#         alt="site logo" class="mn-w100px"/>#}
</a>

